html, body, #root{
    height:100%;
    overflow: hidden;
    padding: 0;
    margin:0;
}
.pokedexListPage{
    display: block;
    width:100%;
    height:100%;
    background-image:url("@assets/background/blurredMcBackground.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    margin: 0;
   
}

.pkmonList{
    height:50%;
    width:70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: scroll;
    margin:auto;
    scrollbar-color:rgba(115, 241, 5, 0.779) #00000061;
}
