.pkmonDetailDisplay{
    display: flex;
    flex-direction: column;
    position: fixed;
    height:60%;
    width:40%;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(100px);
    padding:0 20px 0;
    z-index: 2;
}

.pkmonDetailDisplay .heading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pkmonDetailDisplay .body{
    display: flex;
    flex-direction: row;
    height:40%;
}

.detailPkmonImg{
    width: 30%;
}
.detailDisplayDesc{
    width: 50%;
}
svg{
    margin-top:20px;
    margin-left:40px;
}